<div class="row" style="margin-top:40px;">
    <div class="col-md-1"></div>
        <div class="col-md-5">
            <a ui-sref="manage.billNames" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Manage Bill Names</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5">
            <a ui-sref="manage.expenseTypes" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-credit-card-alt fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Manage Expense Types</h3>
                    </div>
                </div>
            </a>
        </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ui-view style="margin-top:30px;"></div>
    </div>
</div>