<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>
                    Welcome!
                </h1>
                <p>Snoqualmie Pass Lodge CRM</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/bills" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Bills</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/expenses" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-credit-card-alt fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Expenses</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/manage" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Manage</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/reservations" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-home fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Reservations</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <a href="/contacts" class="no-deco">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Contacts</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="/guests" class="no-deco">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="icon-holder-div">
                            <i class="fa fa-bed fa-5x" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-footer default-color-dark">
                        <h3 class="white-text">Guests</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>