<div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete this expense?</h4>
</div>
<div class="modal-body">
    <div style="padding:10px; text-align:center">
        <h2>{{modal.expenseName}}</h2>
        <br />
        <p><strong>Amount:</strong> {{modal.amount | currency}}</p>
        <p ng-show="modal.datePurchased"><strong>Date purchased:</strong> {{modal.datePurchased | date: 'fullDate' }}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="modal.dismissModal()">Cancel</button>
    <button class="btn btn-danger" ng-click="modal.confirmDelete()">Delete</button>
</div>