<div class="row">
    <div class="col-sm-12">
        <div class="heading-div">
            <a href="/expenses" class="btn btn-warning">All Expenses</a>
            {{vm.expense.expenseName}}
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-12 center-detail-div">
        <div class="card text-xs-center ">
            <div style="border-radius:0px;" class="card-header default-color-dark white-text">
                <p>{{vm.expense.amount | currency}}</p>
            </div>
            <div class="card-block">
                <p>
                    <strong>Category</strong> <br />
                    {{vm.expense.expenseType.name}}
                </p>
                <p>
                <strong>Date Purchased:</strong> 
                    {{vm.expense.datePurchased | date:'fullDate'}}
                </p>
                <p><strong>Notes:</strong> {{vm.expense.notes}}</p>
                <img ng-src="{{vm.expense.scannedImage}}" />
                <!--Add in scanned image here-->
            </div>
            <div class="card-footer text-muted default-color-dark white-text">
                <div class="list-buttons-div">
                    <a class="btn btn-sm btn-default" href="edit-expense/{{vm.expense.id}}"><i class="fa fa-pencil" aria-hidden="true"></i>  Edit</a>
                    <button ng-click="vm.showDeleteModal()" class="btn btn-sm btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
