<div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete this bill?</h4>
</div>
<div class="modal-body">
    <div style="padding:10px; text-align:center">
        <h2>{{modal.billName}}</h2>
        <br />
        <p><strong>Amount:</strong> {{modal.amount | currency}}</p>
        <p ng-show="!modal.datePaid" style="color:#d9534f"><strong>Not Paid</strong></p>
        <p ng-show="modal.datePaid"><strong>Date paid:</strong> {{modal.datePaid | date: 'fullDate' }}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="modal.dismissModal()">Cancel</button>
    <button class="btn btn-danger" ng-click="modal.confirmDelete()">Delete</button>
</div>