<div class="row">
    <div class="col-sm-12">
        <div class="heading-div">
            <a href="/bills" class="btn btn-warning">All Bills</a>
            Edit your bill
        </div>
        <hr />
    </div>
</div>

<form name="edit_bill" novalidate class="add-form">
    <div class="row">
        <div class="col-sm-12">
            <ul class="pull-right">
                <li class="error" ng-repeat="err in vm.validationErrors">{{err}}</li>
            </ul>
            <div class="form-group">
                <label>
                    Bill Name
                    <select name="billName" required ng-model="vm.bill.billName.id" class="form-control" ng-options="b.id as b.name for b in vm.billNames"></select>
                </label>
                <span ng-show="edit_bill.billName.$touched && edit_bill.billName.$error.required" class="error">
                    Bill name is required.
                </span>
            </div>
            <div>
                <label>
                    Amount
                    <input name="amount" required ng-trim="true" ng-model="vm.bill.amount" type="text" placeholder="Amount" class="form-control" />
                    <span ng-show="edit_bill.amount.$touched && edit_bill.amount.$error.required" class="error">
                        Amount is required.
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Month
                    <select ng-change="vm.test()" name="month" required ng-model="vm.selectedMonth" class="form-control"
                            ng-options="b as b for b in vm.monthNames"></select>
                </label>
                <span ng-show="edit_bill.month.$touched && edit_bill.month.$error.required" class="error">
                    Month is required.
                </span>
            </div>

            <div class="form-group">
                <label>
                    Has Been Paid
                </label>
                <br />
                <div>
                    <input ng-click="vm.toggleDatePopup()" ng-model="vm.isPaid" type="radio" name="paid" value="false" /> <span style="margin-right:10px;">No</span>
                    <input ng-click="vm.toggleDatePopup()" ng-model="vm.isPaid" type="radio" name="paid" value="true" /> Yes (choose a date)
                    <p style="display:none" id="datePopup" class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.dt" is-open="vm.popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <button type="button" class="btn btn-default" ng-click="vm.open()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </p>
                </div>

            </div>

            <div class="form-group">
                <label>
                    Notes
                    <input name="notes" ng-trim="true" ng-model="vm.bill.notes" type="text" placeholder="Notes" class="form-control" />
                </label>
            </div>

            <div class="form-group">
                <label>Image</label>
                <br />
                <button name="image" class="btn btn-default" ng-click="vm.pickFile()"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>

                <h2>{{vm.file.filename}}</h2>
                <img ng-src="{{vm.file.url | fpConvert:{w: 400} }}" alt="{{vm.file.filename}}" />

            </div>
            <hr />
                <input ng-click="vm.editBill()" class="btn btn-info pull-right" type="button" value="Save Changes" ng-disabled="!edit_bill.$valid"/>
        </div>
    </div>
</form>